{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-runtime", "external-helpers", "transform-class-properties", "transform-object-rest-spread"
  ]
}
